.Header {
  text-align: center;
  padding: 1em;

  background: #bada55;
  color: black;
}

.ReplyListItem {
  list-style-type: none;
  padding: 1em;

  display: grid;
  grid-template-columns: 400px auto;
  grid-template-areas:
    "profile answer"
    "username answer";
}

.ReplyListItem p:first-of-type {
  grid-area: answer;
}

.ReplyListItem p:last-of-type {
  grid-area: username;
  text-align: center;
}

.ReplyListItem div {
  margin: 0 auto;
  grid-area: profile;
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
}
.ReplyList {
  padding: 0;
}
.ReplyList li:nth-of-type(2n + 1) {
  background: #bada55;
  color: black;
}
.TopicListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TopicListItem > header p {
  text-align: center;
}
.TopicListItem div {
  margin: 0 auto;
  grid-area: profile;
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
}

form {
  padding: 2em;
}
form input,
form button {
  font-size: 2em;
}
